@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
  box-sizing: border-box;
}
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  box-sizing: border-box;
}
*{
  margin: 0;
  padding: 0;
}
.phone-container {
  max-width: 350px;
  height: 712px;
  overflow: auto;
  border-radius: 60px;
  background-color: white;
}
.phone-container::-webkit-scrollbar {
  display: none;
}
.iphone {
  width: 350px;
  position: absolute;
  z-index: 2;
  pointer-events: none;
}
.styles_faq-row__2YF3c{
  margin-top: 20px;
  padding: 12px 24px !important;
  border-radius: 8px;
  border: 1px solid #B1B1B1 !important;
}
html {
  scroll-behavior: smooth;
}